.title {
    font-size: 30px;
    font-weight: 900;
    color: $white;
    text-align: center;
    &-black {
        color: #393939;
    }
    &-local {
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(75%);
        z-index: 2;
    }
    &-cloud {
        position: absolute;
        top: 262px;
        right: 81px;
    }
    &-hosting {
        position: absolute;
        top: 262px;
        left: 81px;
    }
    &-contacts {
        margin-top: 65px;
        text-align: center;
    }
    &-footer {
        font-size: 16px;
        text-align: start;
    }
}